In [1]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [5]:
s

a    0.496372
b    0.564825
c    1.015006
d    0.400373
e   -0.556871
dtype: float64

In [6]:
s.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

In [7]:
pd.Series(np.random.randn(15))

0     0.504910
1    -0.061994
2     1.422456
3    -0.187276
4    -2.081119
5    -1.226079
6    -2.007779
7    -0.877511
8    -0.172790
9     1.489308
10   -1.037775
11    0.718140
12    1.167601
13    0.527175
14   -0.745967
dtype: float64

In [8]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}

In [10]:
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [11]:
d2 = {'a' : 0.5, 'b' : 3.4, 'c' : 2.7}

In [12]:
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [13]:
pd.Series(d, d2)

a    0.0
c    2.0
b    1.0
dtype: float64

In [14]:
d2

{'a': 0.5, 'b': 3.4, 'c': 2.7}

In [15]:
pd.Series(d, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [16]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [17]:
pd.Series(5., index=[10])

10    5.0
dtype: float64

In [18]:
pd.Series(5, index=['a', 'b', 'c', 'd', 'e'])

a    5
b    5
c    5
d    5
e    5
dtype: int64

In [19]:
pd.Series(5.235698755986587455884569, index=['a', 'b', 'c', 'd', 'e'])

a    5.235699
b    5.235699
c    5.235699
d    5.235699
e    5.235699
dtype: float64

In [20]:
s[0]

0.49637215064448964

In [21]:
s

a    0.496372
b    0.564825
c    1.015006
d    0.400373
e   -0.556871
dtype: float64

In [22]:
s[4-3]

0.56482523658412709

In [23]:
s[a]

NameError: name 'a' is not defined

In [24]:
s['a']

0.49637215064448964

In [25]:
s[:3]

a    0.496372
b    0.564825
c    1.015006
dtype: float64

In [26]:
s[3:]

d    0.400373
e   -0.556871
dtype: float64

In [27]:
s[s > s.median()]

b    0.564825
c    1.015006
dtype: float64

In [28]:
s[[4, 3, 1]]

e   -0.556871
d    0.400373
b    0.564825
dtype: float64

In [29]:
s[[4, 3, 1, 4, 1, 3]]

e   -0.556871
d    0.400373
b    0.564825
e   -0.556871
b    0.564825
d    0.400373
dtype: float64

In [30]:
np.exp(s)

a    1.642751
b    1.759140
c    2.759379
d    1.492381
e    0.572999
dtype: float64

In [31]:
s['e'] = 12

In [32]:
s

a     0.496372
b     0.564825
c     1.015006
d     0.400373
e    12.000000
dtype: float64

In [33]:
'e' in s

True

In [34]:
'f' in s

False

In [35]:
12 in s

False

In [36]:
1 in s

False

In [37]:
s.get('f')

In [38]:
s.get('f', np.nan)

nan

In [39]:
if 'e' in s: print(s['e'])

12.0

In [41]:
s.get('e')

12.0

In [43]:
s.get('e', 'c')

12.0

In [44]:
s + s

a     0.992744
b     1.129650
c     2.030011
d     0.800745
e    24.000000
dtype: float64

In [45]:
s * s

a      0.246385
b      0.319028
c      1.030236
d      0.160298
e    144.000000
dtype: float64

In [47]:
s + s + 4

a     4.992744
b     5.129650
c     6.030011
d     4.800745
e    28.000000
dtype: float64

In [48]:
np.exp(s)

a         1.642751
b         1.759140
c         2.759379
d         1.492381
e    162754.791419
dtype: float64

In [49]:
s[1:] + s[:-1]

a         NaN
b    1.129650
c    2.030011
d    0.800745
e         NaN
dtype: float64

In [50]:
s[:-1]

a    0.496372
b    0.564825
c    1.015006
d    0.400373
dtype: float64

In [51]:
s = pd.Series(np.random.randn(5), name='something')

In [52]:
s

0    0.884224
1   -0.259407
2    0.402636
3    0.679681
4   -0.314093
Name: something, dtype: float64

In [53]:
'something'

'something'

In [54]:
s.name

'something'

In [55]:
s2 = s.rename("different")

In [56]:
s2

0    0.884224
1   -0.259407
2    0.402636
3    0.679681
4   -0.314093
Name: different, dtype: float64

In [57]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [58]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [59]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [60]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [62]:
df = pd.DataFrame(d)

In [63]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [64]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [65]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['farm', 'three'])

  farm three
d  NaN   NaN
b  NaN   NaN
a  NaN   NaN

In [66]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [67]:
'one' in df

True

In [68]:
df.index

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [69]:
df.columns

Index([u'one', u'two'], dtype='object')

In [70]:
d = {'one' : [1., 2., 3., 4.],
'two' : [4., 3., 2., 1.]}

In [71]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [72]:
data = np.zeros((2,), dtype=[('A', 'i4'),('B', 'f4'),('C', 'a10')])

In [73]:
data

array([(0, 0.0, ''), (0, 0.0, '')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [74]:
data[:] = [(1,2.,'Hello'), (2,3.,"World")]

In [75]:
data

array([(1, 2.0, 'Hello'), (2, 3.0, 'World')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [76]:
data[:] = [(1,2.,'Hello'), (2,3.,"World famous the best ever yes this is a test")]

In [77]:
data

array([(1, 2.0, 'Hello'), (2, 3.0, 'World famo')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [78]:
data[:] = [(1,2.,'Hello'), (2,3546545465.7596631188772535874654687654654743543787689676556456484624544,"World")]

In [79]:
data

array([(1, 2.0, 'Hello'), (2, 3546545408.0, 'World')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [80]:
pd.DataFrame(data)

   A             B      C
0  1  2.000000e+00  Hello
1  2  3.546545e+09  World

In [81]:
data[:] = [(1,2.,'Hello'), (2,3.,"World")]

In [82]:
pd.DataFrame(data)

   A    B      C
0  1  2.0  Hello
1  2  3.0  World

In [83]:
pd.DataFrame(data, index=['first', 'second'])

        A    B      C
first   1  2.0  Hello
second  2  3.0  World

In [84]:
pd.DataFrame(data, columns=['C', 'A', 'B'])

       C  A    B
0  Hello  1  2.0
1  World  2  3.0

In [85]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
data2

[{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [86]:
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [87]:
pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
                 ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
             ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
                ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
               ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}})

       a              b
       a    b    c    a     b
A B  4.0  1.0  5.0  8.0  10.0
  C  3.0  2.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [88]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [89]:
 df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [92]:
df['three'] = df['one'] * df['two']
df

   one  two  three
a  1.0  1.0    1.0
b  2.0  2.0    4.0
c  3.0  3.0    9.0
d  NaN  4.0    NaN

In [93]:
df['flag'] = df['one'] > 2

In [94]:
df

   one  two  three   flag
a  1.0  1.0    1.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    9.0   True
d  NaN  4.0    NaN  False

In [95]:
del df['two']

In [96]:
three = df.pop('three')

In [100]:
three

a    1.0
b    4.0
c    9.0
d    NaN
Name: three, dtype: float64

In [101]:
df

   one   flag
a  1.0  False
b  2.0  False
c  3.0   True
d  NaN  False

In [102]:
three
df

   one   flag
a  1.0  False
b  2.0  False
c  3.0   True
d  NaN  False

In [103]:
df
df

   one   flag
a  1.0  False
b  2.0  False
c  3.0   True
d  NaN  False

In [104]:
df1 = df * df

C:\ProgramData\Anaconda2\lib\site-packages\pandas\computation\expressions.py:182: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  unsupported[op_str]))

In [105]:
df['foo'] = 'bar'
df

   one   flag  foo
a  1.0  False  bar
b  2.0  False  bar
c  3.0   True  bar
d  NaN  False  bar

In [106]:
df['one_trunc'] = df['one'][:2]
df

   one   flag  foo  one_trunc
a  1.0  False  bar        1.0
b  2.0  False  bar        2.0
c  3.0   True  bar        NaN
d  NaN  False  bar        NaN

In [107]:
df.insert(1, 'bar', df['one'])

In [108]:
df

   one  bar   flag  foo  one_trunc
a  1.0  1.0  False  bar        1.0
b  2.0  2.0  False  bar        2.0
c  3.0  3.0   True  bar        NaN
d  NaN  NaN  False  bar        NaN